<!DOCTYPE html>
<html>
<head>
  <title>Deployd</title>
  <%= stylesheet_link_tag    "deployd/application", :media => "all" %>
  <%= javascript_include_tag "deployd/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
